 .hover-bio-wrapper {
 position: relative;
 color: rgba(0,0,0,0);
 width: 100%
}
  
figure.hover-bio img{
 display: block;
}
  
figure.hover-bio {
 position: relative;
 overflow: hidden;
 margin: 0;
 padding: 0;
 display: inline-block;
 line-height: 0;
  
}
  
figure.hover-bio::before, figure.hover-bio::after{
 position: absolute;
 background: black;
 opacity: 0.3;
 content: '';
 height: 100%;
 width: 100%;
 display: block;
 top: 0;
 left 0;
 -moz-transform: translate3d(0, -100%, 0);
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
 -moz-transition: all 0.8s;
 -webkit-transition: all 0.8s;
 transition: all 0.8s;
}
  
figure.hover-bio figcaption{
 position: absolute;
 background: #fff;
 display: block;
 line-height: 1.7em;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 text-align: left;
 padding: 10px;
 z-index: 100;
 width: 100%;
 max-height: 100%;
 overflow: hidden;
 top: 50%;
 left: 0;
 -moz-transform: translate3d(-100%, -50%, 0);
 -webkit-transform: translate3d(-100%, -50%, 0);
 transform: translate3d(-100%, -50%, 0);
 opacity: 0;
 -moz-transition: all 0.8s;
 -webkit-transition: all 0.8s;
 transition: all 0.8s;
}
  
figure.hover-bio img{
 -moz-transform: translate3d(0, 0, 0);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 -moz-transition: all 0.8s;
 -webkit-transition: all 0.8s;
 transition: all 0.8s;
}
  
figure.hover-bio figcaption{
 top: 100%;
 opacity: 1;
 -moz-transform: translate3d(0, 0, 0);
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
  
figure.hover-bio:hover img {
 opacity: .5;
}
  
figure.hover-bio:hover figcaption{
 background-color: #15cbef;
 color: #fff;
 opacity: .9;
 -moz-transform: translate3d(0, -100%, 0);
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
 -moz-transition: all 0.8s;
 -webkit-transition: all 0.8s;
 transition: all 0.8s;
 box-shadow: 0px -2px 28px rgba(255,255,255, 0.3);
}
